@import 'rupture'
@import "variable/_function.styl"
@import "variable/_fonts.styl"
@import "variable/_ie.styl"
@import "icon/sprite.css"
@import "variable/_helper.styl"
@import "variable/_default.styl"
@import "variable/_elements.styl"
@import "variable/_constant.styl"
//@import "variable/_grid.styl"
@import "../module/**/*"

rupture.scale = 0 480px 768px 992px 1200px
rupture.scale-names = 'xs' 'sm' 'md' 'lg'

// Grid breakpoints
$breakpoints = {
	'xs' :  0,
	'sm' : 480px,
	'md' : 768px,
	'lg' : 992px,
	'xl' : 1200px
}

// Number of columns
$columns = 12

init($breakpoints, $columns)

body
	@extend .type--main
	font-family 'Lato', sans-serif;
	color $main-text-color
	line-height 1.2
	letter-spacing 0.01em

.main-cont
	center(1200px,10px)

.header
	position: absolute
	top 0
	left: 0
	width: 100%
	z-index 10
.header-wrap
	position: relative
	flex(between)
	padding: 20px 0
.header-logo
	z-index 10
	background: white
	font-weight:900
	font-size: 40px
	up()
	color black
	span
		color $red
		margin-left: -10px

.header-menu
	f()

.header-el
	color #343434
	font-weight: 900
	font-size: 11px

	up()
	padding: 0 20px
	position: relative
	flex(mid)
	&:after
		content ''
		position: absolute
		width: 1px
		height: 100%
		top 0
		right: 0
		background: #dfdfdf

.header-phone
	up()
	font-size: 26px
	font-weight: 900

.baner
	bg-full()
	height: 100vh
	position: relative
	.main-cont
		height: 100%
.baner-wrap
	height: 100%
	flex(mid)
	fl()
	.btn--mark
		color black
	color black
	font-size: 76px
	up()
	font-weight: 900
.baner-text
	width: 70%
	margin-top: 8%
	margin-bottom: 30px
	text-align: center
	//text-shadow: 0px 3px 8px black
	span
		color $red

.filter
	position: absolute
	top 0
	left 0
	width: 100%
	height: 100%
	background: rgba(0, 0, 0, 0.5)
.filter--dark
	background: rgba(0, 0, 0, 0.6)

.filter--white
	position: absolute
	top 0
	left 0
	width: 100%
	height: 100%
	background: rgba(255, 255, 255, 0.8)
.section
	padding: 120px 0
.section-title
	text-align: center
	font-weight: 900
	font-size: 40px
	up()

.section-title-sub
	text-align: center
	margin-bottom: 90px

.baner-text-sub
	text-align: center
	font-size: 14px
	width: 50%
	line-height: 1.6
	font-weight:400
	margin-bottom: 30px

.project
	//center(800px,0)
	/*flex(between)
	fw()*/
.project__el
	width: 100%
	margin-bottom: 50px
	cp()
	tr(all)
	position: relative
	box-shadow 0px 2px 10px #c5c2c2


.project-el__filter
	position: absolute
	top 0
	left 0
	width: 100%
	height: 100%
	background-image: linear-gradient( #ff413600 40%, #202020)
.project__el-img
	tr(all)
	bg-full()
	padding: 24%
	position: relative

.project__el-descr
	position: absolute
	top 0px
	right: 0px
	background: #ffffffd6
	border-radius 0px 0 0 10px
	overflow: hidden
	min-width 300px
.project__el-title
	font-size: 24px
	padding-bottom: 20px
	margin-bottom: 20px
	border-bottom:2px solid #c60000
	font-weight:bold

.project__el-get
	flex(between)

.project__el-wrap
	padding: 40px
.project__el-get-btn
	&:first-child
		border-right:1px solid $border-color
		background: $red
		color white
	border-top:1px solid $border-color
	padding: 20px
	font-weight:bold
	up()
	width: 100%
	text-align: center


.project__el-inf__name
	font-size: 14px
	color black
	font-weight:bold

.project__el-inf__el
	flex(between)
	margin-bottom: 10px
.project-info
	position: absolute
	bottom 0
	left 0
	z-index 10
	padding: 20px

.project-el__title
	up()
	color white
	margin-bottom: 10px
	font-weight:700

.project-el__text
	color white

.section-about
	position: relative
	padding: 150px 0
.about-title
	up()
	margin-bottom: 40px
	font-weight: 900
	font-size: 68px
	//color white

.about-text
	//color white
	line-height: 1.6
	width: 70%
	margin-bottom: 40px

.advant
	flex(between)
	fw()
.advant__el
	width: 24%
	margin-bottom: 80px
	flex(mid)
	fl()
.advant__el-icon
	flex(mid)
	round()
	size 140px
	margin-bottom: 20px
	padding: 10px
	background: $yellow
	box-shadow 0px 3px 9px #d4d2d2
	.icon
		size 60px
		fill black
.advant__el-text
	text-align: center

.news
	flex(between)
	fw()
.section-news
	position: relative
	padding-bottom: 40px
	bg-full()
	overflow hidden
.news__el
	width: 32%
	margin-bottom: 80px
.section-bg
	position: absolute
	top 0
	left 0
	width: 100%
	height: 100%
	bg-full()
	//filter blur(5px)
.news__el-title
	font-weight: 700
	font-size: 24px
	margin-bottom: 20px
	position: relative
	line-height: 1.6
	&:before
		content ''
		position: absolute
		width: 180px
		height: 3px
		background: red
		bottom -10px
		left 0
.news__el-text
	line-height: 1.4


.price
	center(1000px,0)
	flex(between)
.price__el
	width: 45%
	padding: 40px 20px
	border 1px solid $border-color
	br(10px)
	padding-right: 10px
.price__title
	text-align: center
	font-size: 24px
	margin-bottom: 20px
.price__img
	margin-bottom: 20px
.price__val
	font-size: 22px
	font-weight: 900
	text-align: center
	margin-bottom: 20px
	span
		font-size: 38px
		display: inline-block
		margin: 0 10px

.price__list
	margin-bottom: 40px

.price__list-el
	padding: 10px 0
	border-bottom 1px solid $border-color

.price__get
	@extend .btn--md
	@extend .btn--mark
	width: 100%


.scheme-slider
	.slick-slide
		margin: 0 20px

.scheme-slider__el
	//padding: 50%
	bg-full()

.scheme-slider-wrap
	padding: 20px
	background: white

.scheme-slider-cont
	position: relative
	z-index 20

.scheme-slider-control
	round()
	flex(mid)
	tr(all)
	size 40px
	background: white
	position: absolute
	top 50%
	margin-top: -20px
	box-shadow 0px 2px 10px #c5c2c2
	&:hover
		background: $red
		.icon
			fill white
	.icon
		size 14px
.scheme-slider-control--left
	left -40px
.scheme-slider-control--right
	right -40px

.project__el-img-wrap
	position: relative

.section-service
	padding-top: 40px
.service-title
	font-weight: 900
	font-size: 28px
	up()
	margin-bottom: 40px
.service
	f()
	justify-content: space-between
.service-content
	width: 70%
.slider-wrap
	position: relative
	margin-bottom: 20px
.slider-control
	round()
	flex(mid)
	tr(all)
	size 40px
	background: white
	position: absolute
	top 50%
	margin-top: -20px
	box-shadow 0px 2px 10px #c5c2c2
	z-index 10
	cp()
	&:hover
		background: $red
		.icon
			fill white
	.icon
		size 14px
.slider-control--left
	left -20px
.slider-control--right
	right -20px

//.slider-control
//.slider-control--left
//.icon
//.slider-control--right
//.service-slider
.service-slider__el
	bg-full()
.service-text
	line-height: 1.6
.service-list
	width: 27%
	.price__el
		width: 100%

.service-price
	padding: 20px 20px
	border 1px solid $border-color
	br(10px)
	margin-bottom: 30px
	background: $red
	.price__val
		margin-bottom: 0
		margin-top: 20px

.service-price__title
	font-size: 24px
	color white
	margin-bottom: 5px
.service-price__val
	font-size: 22px
	font-weight: 900
	color white
	span
		font-size: 38px
		display: inline-block
		margin: 0 10px

.about-text__more
	display: none

.section-project
	padding-top: 20px

.price__list
	position: relative
	height: 300px
	padding-right: 30px
.ps__scrollbar-y-rail
	background-color #eaeaea !important
	opacity 1!important

.ps > .ps__scrollbar-y-rail:hover > .ps__scrollbar-y, .ps > .ps__scrollbar-y-rail:active > .ps__scrollbar-y
	width: 10px
.ps > .ps__scrollbar-y-rail
	width: 10px
	background-color #f6f6f6!important
	opacity 1!important

.section-advant
	padding-bottom: 0

.price-more
	flex(mid)
	margin-top: 20px
	.icon
		size 25px
		margin-right: 10px
.price-more__icon
	flex(mid)
.price-more__text
	color black
//.price__price
//.price__list
//.price__list-el
//.price__get

.contact-form
	+below(768px)
		margin-top: 0px
	padding: 50px 0
	margin-top: 100px
	form
		+below(768px)
			fl()
		f()
		justify-content: space-between
		width: 100%
	.input-row
		width: 100%
		input
			+below(768px)
				width: 100%
				margin-bottom: 20px
			width: 90%
			margin-bottom: 0
	.modal-send
		+below(768px)
			width: 100%
		margin-bottom: 0
		width: 100%
	.section-title-sub
		margin-bottom: 30px



.section-contact
	background #efefef
	padding-bottom:0px

.contact
	form
		width 100%
	textarea
		width 100%
	.main-form
		padding 40px
		border 1px solid #e3e3e3
.contact-form--footer
	+below(768px)
		fw()
		margin-top 30px
	flex(between)
	align-items flex-start
	margin-top 80px
	.main-form
		+below(768px)
			width 100%
			margin-bottom 20px
			padding 30px 20px
		width 40%
.main-form
	background: white
.contact-info
	+below(768px)
		width 100%
	width 55%
.map
	+below(768px)
		margin-bottom: 10px
	margin-bottom 40px
.contact-row
	flex(mid)
	margin-bottom 20px
	.icon
		margin-right 20px
		+below(768px)
			size 20px
		size 30px
		fill $green
.contact-text
	+below(768px)
		font-size 12px
		width 100%
	font-size 16px
	line-height:1.6
	width 60%

.form-title
	+below(1200px)
		font-size 16px
	up()
	text-align center
	font-size 24px
	font-weight bold
	color black
	margin-bottom: 20px
.form-title-sub
	+below(768px)
		font-size: 10px
		margin-bottom: 20px
	font-size 16px
	margin-bottom: 40px
	text-align: center
.form-month
	up()
	font-weight bold
	font-size 32px
	margin-bottom 30px
.form-foter-text
	+below(1200px)
		font-size 12px
	text-align center
	color grey

.contact-form--footer
	form
		fl()
	align-items: stretch
	margin-top: 0
	padding-top: 0

.form--footer
	.input-row
		+below(768px)
			margin-bottom: 0px
		width: 100%
		margin-bottom: 30px
		input
			width: 100%


.contact-row-wrap
	+below(768px)
		padding: 20px
	padding: 40px
	background: white
	.contact-row
		&:last-child
			margin-bottom:0

.modal-layer
	width: 100%
	height: 100vh
	position: fixed
	z-index 1000
	top 0
	left 0
	visibility: hidden
	transition all 1s // duration for fade
	opacity 0

.modal-layer-show
	visibility: visible
	opacity 1

.modal-cont
	width: 100%
	height: 100%
	position: relative
	max-height 100%
	overflow: auto

.modal-filter
	+below(640px)
		background: white
	position: absolute
	top: 0
	left: 0
	background: rgba(0, 0, 0, 0.6)
	width: 100%
	height: 100vh
	min-height 100vh

.modal
	+below(768px)
		width: 100%
		box-shadow 0 0 0
	box-shadow 0 2px 4px rgba(0, 0, 0, 0.24)
	transform translate(-50%,-350%)
	position: absolute
	top 50%
	left 50%
	opacity .1
	transition transform .8s, opacity 1s
	max-width 550px

.modal-content
	+below(768px)
		padding: 20px
	+below(640px)
		max-height calc(100vh - 60px)
		overflow-y scroll
		padding: 20px 5px
		width: 100%!important
	//background: #2b8850
	background: white
	position: relative
	padding: 40px
	+below(768px)
		width: 80%

.modal-content--register
	width: 500px
	input
		width: 100%
		margin-bottom: 20px

.modal__show
	+below(768px)
		flex(mid)
	opacity 1
	transform translate(-50%,-50%)

.modal-close
	+below(768px)
		top 15px
		right 15px
	position: absolute
	top: 20px
	right: 20px
	cp()
	.icon
		+below(768px)
			size 15px
		size 20px

.modal-open
	overflow: hidden
	overflow-x: hidden
	overflow-y: scroll
	position: fixed
	top: 0
	left: 0
	right: 0
	bottom: 0
	width: 100%

.modal-wrap
	position: relative
	height: 100%

.modal-title
	+below(768px)
		font-size: 20px
	@extend .type--lg
	margin-bottom: 0px
	text-align: center
	//color white
	color black
	font-size: 32px

.modal-text
	+below(768px)
		width: 100%
		font-size: 12px
	text-align: center
	margin: 20px auto 40px auto
	//width: 80%
	font-size: 16px
	line-height: 1.2
	color #5f5f5f

.validate-form
	input,textarea
		width: 100%
		margin-bottom: 20px

.modal-send
	@extend .btn--md
	@extend .btn--mark
	border 0
	width: 100%
	font-weight: 600
	padding: 15px
	font-size: 16px
	&:hover
		box-shadow 0 9px 18px rgb(76, 72, 19)

.agree-row
	f()
	align-items: center
	margin:10px 0 30px 0
	a
		text-decoration: underline
		display: inline-block

.agree-row__text
	width: 100%
	color black
	font-size: 12px
	a
		color #9c9a9a
		text-decoration: none
.field-error
	.error
		display: none!important

.field-error
	input
		border 1px solid #dc3d3d
.style-label--checkbox.field-error
	.sytle-input-element
		border 1px solid #dc3d3d

.scroll-up
	+below(768px)
		size 40px
	flex(mid)
	round()
	cp()
	tr(all)
	position: fixed
	z-index 150
	bottom 20%
	right 5%
	border 1px solid $border-color
	size 64px
	opacity 0
	background: white
	&:hover
		background: black
		.icon
			fill white
	.icon
		+below(768px)
			size 15px
		size 30px
		fill black

.scroll-up--show
	opacity 1

.footer-map
	width: 100%
	height: 500px
