include block_html/_style.pug
include block_html/_include.pug

.header
	.main-cont
		.header-wrap
			.logo
				img(src="img/logo-old.png", alt="")
			.header-menu
				-
					var items = [
						'Главная',
						'О нас',
						'Портфолио',
						'Цена',
						'Контакты'
						];
				each item in items
					a(href="#").header-el #{item}
			.header-phone 8(926)595-34-62
.baner(style="background-image:url('img/bg-rulle.jpg')")
	.filter--white
	.main-cont
		.baner-wrap
			.baner-text Проектирование домов под
				span ключ
			.baner-text-sub В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов
			a(href="#description" rel='m_PageScroll2id').btn--md-fix.btn--red Подробнее

.section.section-project#description
	.main-cont
		.section-title Наши проекты
		.section-title-sub Paradise of ascension will silently shape a further sun.
		.project
			.project__el
				//.project-el__filter
				.project__el-img-wrap
					.project__el-slider
						.project__el-img(style="background-image:url('img/pr1/pr-1-1.jpg')")
						.project__el-img(style="background-image:url('img/pr1/pr-1-2.jpg')")
						.project__el-img(style="background-image:url('img/pr1/pr-1-3.jpg')")
					.scheme-slider-wrap
						.scheme-slider-cont
							.scheme-slider-control.scheme-slider-control--left
								+icon("arrow-left","icon")
							.scheme-slider-control.scheme-slider-control--right
								+icon("arrow-right","icon")
							.scheme-slider
								- for (var i=0;i<2;i++)
									a(href="img/pr1/pr-sch-1-1.jpg" rel="group-elemen").fancybox.scheme-slider__el
										img(src="img/pr1/pr-sch-1-1.jpg", alt="")
									a(href="img/pr1/pr-sch-1-2.jpg" rel="group-elemen").fancybox.scheme-slider__el
										img(src="img/pr1/pr-sch-1-2.jpg", alt="")
									a(href="img/pr1/pr-sch-1-3.jpg" rel="group-elemen").fancybox.scheme-slider__el
										img(src="img/pr1/pr-sch-1-3.jpg", alt="")
									a(href="img/pr1/pr-sch-1-4.jpg" rel="group-elemen").fancybox.scheme-slider__el
										img(src="img/pr1/pr-sch-1-4.jpg", alt="")
					.project__el-descr
						.project__el-wrap
							.project__el-title Каркасный дом
							.project__el-inf
								.project__el-inf__el
									.project__el-inf__name Площадь
									.project__el-inf__val 30м
								.project__el-inf__el
									.project__el-inf__name Разработка
									.project__el-inf__val 10 дней
								.project__el-inf__el
									.project__el-inf__name Гарантия
									.project__el-inf__val 3 года
						.project__el-get
							.project__el-get-btn Заказать
							.project__el-get-btn Подробнее


			- for (var i=0;i<9;i++)
				.project__el
					//.project-el__filter
					.project__el-img-wrap
						.project__el-img(style="background-image:url('img/item-"+(i+1)+".jpg')")
						.scheme-slider-wrap
							.scheme-slider-cont
								.scheme-slider-control.scheme-slider-control--left
									+icon("arrow-left","icon")
								.scheme-slider-control.scheme-slider-control--right
									+icon("arrow-right","icon")
								.scheme-slider
									a(href="img/scheme-1.jpg" rel="group-elemen" style="background-image:url('img/scheme-1.jpg')").fancybox.scheme-slider__el
										img(src="img/scheme-1.jpg", alt="")
									a(href="img/scheme-2.jpg" rel="group-elemen" style="background-image:url('img/scheme-2.jpg')").fancybox.scheme-slider__el
										img(src="img/scheme-2.jpg", alt="")
									a(href="img/scheme-3.jpg" rel="group-elemen" style="background-image:url('img/scheme-3.jpg')").fancybox.scheme-slider__el
										img(src="img/scheme-3.jpg", alt="")
									a(href="img/scheme-4.jpg" rel="group-elemen" style="background-image:url('img/scheme-4.jpg')").fancybox.scheme-slider__el
										img(src="img/scheme-4.jpg", alt="")
									a(href="img/scheme-2.jpg" rel="group-elemen" style="background-image:url('img/scheme-2.jpg')").fancybox.scheme-slider__el
										img(src="img/scheme-2.jpg", alt="")
									a(href="img/scheme-3.jpg" rel="group-elemen" style="background-image:url('img/scheme-2.jpg')").fancybox.scheme-slider__el
										img(src="img/scheme-3.jpg", alt="")
									a(href="img/scheme-1.jpg" rel="group-elemen" style="background-image:url('img/scheme-4.jpg')").fancybox.scheme-slider__el
										img(src="img/scheme-1.jpg", alt="")
						.project__el-descr
							.project__el-wrap
								.project__el-title Каркасный дом
								.project__el-inf
									.project__el-inf__el
										.project__el-inf__name Площадь
										.project__el-inf__val 30м
									.project__el-inf__el
										.project__el-inf__name Разработка
										.project__el-inf__val 10 дней
									.project__el-inf__el
										.project__el-inf__name Гарантия
										.project__el-inf__val 3 года
							.project__el-get
								.project__el-get-btn Заказать
								.project__el-get-btn Подробнее


						//.project-info
							.project-el__title Проект нового дома
							.project-el__text Часто используемый в печати и вэб-дизайне

.section.section-service#arch
	.main-cont
		.service-title Состав чертежей архитектурного раздела проекта
		.service
			.service-content
				.slider-wrap
					.slider-control.slider-control--left
						+icon("arrow-left","icon")
					.slider-control.slider-control--right
						+icon("arrow-right","icon")
					.slider-item.service-slider
						- for (var i=1;i<11;i++)
							a(href="img/ar/shale-ar-el-"+i+".jpg" rel="group-elemen" ).service-slider__el.fancybox
								img(src="img/ar/shale-ar-el-"+i+".jpg", alt="")
				.service-text Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при простой дубликации "Здесь ваш текст.. Здесь ваш текст.. Здесь ваш текст.." или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при простой дубликации

			.service-list
				.service-price
						.service-price__title Цена услуги
						//.price__img
							img(src="img/service-2.jpg", alt="")
						.service-price__val от
							span 200
							| руб
				.price__el
					.price__title Список работ
					.price__list
						.price__list-el  Генплан участка с привязанным домом
						.price__list-el  Фасады дома
						.price__list-el  Подробный план кровли.
						.price__list-el  Маркировочный план этажей
						.price__list-el  Планы этажей 3d
						.price__list-el  Чертеж и ведомость оконных и дверных проемов.
						.price__list-el  Цветовые решения фасадов
						.price__list-el  Характерный разрез дома со всеми высотными отметками.
						.price__list-el  3D визуализация
						.price__list-el  Архитектурное решение лестницы
						.price__list-el  Фасады дома с узлами и фрагментами.
						.price__list-el  Ведомость материалов
						.price__list-el  Консультация по выбору технологий строительства дома
					.price__get Заказать

.section.section-service#kp
	.main-cont
		.service-title Состав чертежей КР
		.service
			.service-content
				.slider-wrap
					.slider-control.slider-control--left
						+icon("arrow-left","icon")
					.slider-control.slider-control--right
						+icon("arrow-right","icon")
					.slider-item.service-slider
						- for (var i=1;i<18;i++)
							a(href="img/kp/shale-kp-el-"+i+".jpg" rel="group-elemen" ).service-slider__el.fancybox
								img(src="img/kp/shale-kp-el-"+i+".jpg", alt="")
				.service-text Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при простой дубликации "Здесь ваш текст.. Здесь ваш текст.. Здесь ваш текст.." или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при простой дубликации
			.service-list
				.service-price
						.service-price__title Цена услуги
						//.price__img
							img(src="img/service-2.jpg", alt="")
						.service-price__val от
							span 200
							| руб
				.price__el
					.price__title Список работ
					.price__list
						.price__list-el Кладочный планы этажей
						.price__list-el Общие данные о проекте, строительных материалах, планировочных решениях.
						.price__list-el Схема раскладки перемычек и их спецификации.
						.price__list-el План стропильной системы с сечениями и спецификациями материалов.
						.price__list-el Схема стропильной системы крыыши  3D
						.price__list-el Узлы деревянных конструкций
						.price__list-el Сложные сечения и узлы сопряжения основных конструкций.
						.price__list-el Сечение стены по всей высоте дома.
						.price__list-el Схемы вентиляционных каналов и дымоходов.
						.price__list-el Общие данные о конструкциях дома, применяемых технологиях.
						.price__list-el Спецификация деревянных конструкций
						.price__list-el Схемы конструкций
						.price__list-el Указания по выполнению работ
						.price__list-el План фундаментов, сечения и спецификации материалов фундамента.
						.price__list-el Схема армирования фундамента
						.price__list-el Подробные проекты крылец, террас и навесов с спецификацией всех материалов.
						.price__list-el План всех перекрытий, характерные узлы и спецификации материалов перекрытия.
						.price__list-el Визуализация решений
						.price__list-el Армопояс
						.price__list-el Сечение по цоколю
						.price__list-el Ведомость деталей
						.price__list-el Специальные указания и рекомендации по возведению конструкций.
					.price__get Заказать

//.section.section-about(style="background-image:url('https://www.toptal.com/designers/subtlepatterns/patterns/ep_naturalblack.png)')")
.section.section-about(style="background-image:url('https://www.toptal.com/designers/subtlepatterns/patterns/concrete-texture.png)')")
	//.section.section-about
	//.filter
	.main-cont
		.about-info
			.about-title Что мы делаем
			.about-text
				p Наша цель- это создание  проектов домов. Но не тех проектов, которые представляют собой прошитую пачку бумаги ,90 % которой заполнено типовыми, зачастую неправильными узлами, кочующими из одной проектной организации в другую. В которых ответственные и сложные детали остаются без внимания, зато очевидные любому строителю вещи занимают целые листы.
				p Я бы хотел рассказать, как мы видим качественный Рабочий проект.
				.about-text__more
					p Итак,проект-это продуманный план строительства каждого элемента будущего дома.Он позволяет решить 3 основные вопроса.
					p Первое и основное. Вы должны увидеть 3-х мерное изображение Вашего будущего дома.Походить по нему.Представить,Как вы будете в нем жить.Хватит ли места для кухни?  Не придется ли толкаться в коридоре?Где хранить вещи?Какой ширины будет лестница?Освещение,растановка мебели,вид из окна,маршруты перемещения.
					p Потом это переделать не получится.Каждый квадратный метр в доме должен работать.Тупиковые коридоры,неиспользуемые холлы,пространства под лестницами.Это все выкинутые деньги.Каждый квадратный метр в доме стоит около 30000р.Плюс постоянные расходы на отопление,освещение,вентиляцию,уборку,будущий ремонт.Иногда можно встретить небольшие,продуманные  дома,в которых больше места и уюта чем в здоровенных особняках.
					p Второе.Частный дом это сложное,индивидуальное сооружение,с большим количеством важных деталей,которые будут определять будущую  жизнь в этом доме.Зачастую,проект типового многоэтажного дома сделать проще, чем проект маленького частного домика. Для этого нужны знания и практический опыт в нескольких отдельных сферах строительства.Вот некоторые из них.
					ul
						li
							em СНиП 31-02-2001 «Дома жилые одноквартирные»;
						li
							em НПБ 106-95 «Индивидуальные жилые дома. Противопожарные требования»;
						li
							em СНиП 2.08.01-89* «Жилые здания»;
						li
							em СНиП 23-01-99 «Строительная климатология»;
						li
							em СНиП 23-02-2003 «Тепловая защита зданий»;
						li
							em СП 23-101-2000 «Проектирование тепловой защиты зданий»;
						li
							em СНиП 21-01-97* «Пожарная безопасность зданий и сооружений»;
						li
							em СП 17.13330.2011 Кровли
						li
							em СП 20.13330.2011 Нагрузки и воздействия.
						li
							em СП 22.13330.2011 Основания зданий и сооружений
						li
							em СП 64.13330.2011 Деревянные конструкции
						li
							em СП 70.13330.2012 Несущие и ограждающие конструкции
						li
							em СП 15.13330.2012 Каменные и армокаменные конструкции
						li
							em СП 24.13330.2011 Свайные фундаменты
						li
							em СП 31-105-2002. Проектирование и строительство энергоэффективныходноквартирных жилых домов с деревянным каркасом.
					p
						em Рабочий проект должен отвечать на следующие вопросы.
					ul
						li
							strong Фундамент
						li Выбор и экономическое обоснование типа фундамента
						li Ширина подошвы
						li Глубина заложения.
						li Утепление
						li Система водоотведения, гидроизоляции и дренажа
						li Расчет армирования
						li
							strong Стены
						li Определение конструкций и материалов стен.Технико-экономическое и эстетическое обоснование принятого решения.
						li Создание правильного пирога стен.
						li Определение ключевых узлов конструкций
						li Исключение мостиков холода
						li Исключение образования конденсата внутри конструкций
						li Исключение попадания и замерзания влаги внутри конструкций.
						li Теплотехнический расчет стены,подбор толщины необходимого утеплителя.
						li
							strong Перектытия
						li Определения типа перекрытий
						li Теплотехнический расчет толщины утеплителя,подбор оптимальных материалов для пирога перекрытия.
						li Расчет типа крепления перекрытия к стене
						li Расчет площади опирания перекрытия на стены.(в случае опоры перекрытия на стену)
						li Расчет армирования и анкеровки
						li
							strong Кровля
						li Определение типа кровли
						li Теплотехнический расчет толщины утеплителя,подбор оптимальных материалов для пирога перекрытия.
						li Расчет конструкций стропильной системы.
						li Определение типа закрепления стропильных ног
						li Расчет анкеровки мауэрлата и деревянных конструкций
					p
						em Незначительное,на первый взгляд ,нарушение технологии может существенно осложнить жизнь будущему хозяину дома.
					p Третье. Проект это четкое техническое задание для будущих строителей. Это детальный подсчет материалов, объемов работы по каждому участку.Сейчас многие строительные компании предлагают свои «бесплатные» проекты.На самом деле они будут являться таковыми только в случае,если Вы закажете дом в этой компании,иначе все равно придется платить.Но не это главное.Нельзя поручать функции постановки задачи,исполнения и контроля одной организации.В таком случае строитель будет делать так как ему удобнее и проще,но не так как лучше  Вам.Да и проверить его будет в таком случае невозможно.Так как любые нарушения в его же проекте будут трактоваться как дополнения и изменения.
					p По поводу типовых проектов. Типовыми могут быть эскизы.Рабочая документация в любом случае должна разрабатываться для каждого конкретного случая.Расположение дома,соседние участки,подъездные пути,вид из окна,освещение,рельеф,растительность,грунтовые условия,обводненность,климатические зоны.-все это индивидуально.Можно заложить тысячекратный запас прочности(там где не надо) и допустить ошибку там,где ее допускать нельзя.
					p Имея на руках наш проект,Вы сможете отдать его на просчет нескольким строительным компаниям и выбрать оптимальное предложение. Наши проекты выполнены с использованием  BIM технологии.Это значит что они интерактивны,наглядны,трехмерны.Они понятны не только профессионалам,но и тем,кто впервые столкнулся со строительством дома.
					p Мы уверены, что дом ,построенный по нашему проекту обойдется дешевле и будет качественнее  проекта с шаблонными,зачастую бездумными идейми. В сфере проектирования,у каждой задачи есть несколько решений.Зачастую,самые простые являются одновременно и самыми дорогими.Всегда можно сделать что-то лучше и дешевле. Это и отличает настоящих профессионалов.
					p Мы готовы произвести бесплатный анализ любого проекта, и оценить, какую сумму мы сможем сэкономить. Наша команда всегда на связи и готова решить любую задачу.
					p Искренне Ваша, проектная группа  «СТАНДАРТ КАЧЕСТВА».

			.btn--md-fix.btn--mark.toggle-about Подробнее

.section.section-advant
	.main-cont
		.section-title Наши преимущества
		.section-title-sub Paradise of ascension will silently shape a further sun.
		.advant
			.advant__el
				.advant__el-icon
					+icon("city","icon")
				.advant__el-text Давно выяснено, что при оценке дизайна и композиции
			.advant__el
				.advant__el-icon
					+icon("prize","icon")
				.advant__el-text Многие программы электронной вёрстки и редакторы HTML
			.advant__el
				.advant__el-icon
					+icon("insurance","icon")
				.advant__el-text Есть много вариантов Lorem Ipsum, но большинство из них имеет
			.advant__el
				.advant__el-icon
					+icon("house-1","icon")
				.advant__el-text Многие думают, что Lorem Ipsum - взятый с потолка
			.advant__el
				.advant__el-icon
					+icon("sketch","icon")
				.advant__el-text Lorem Ipsum, "consectetur", и занялся его поисками в классической
			.advant__el
				.advant__el-icon
					+icon("house","icon")
				.advant__el-text Он использует словарь из более чем 200 латинских
			.advant__el
				.advant__el-icon
					+icon("coins","icon")
				.advant__el-text Его популяризации в новое время послужили публикация
			.advant__el
				.advant__el-icon
					+icon("settings","icon")
				.advant__el-text В то время некий безымянный печатник создал послужили публикация

//.section.section-news(style="background-image:url('img/img-2.jpg')")
	.filter.filter--white
	.main-cont
		.section-title Наши Новости
		.section-title-sub Paradise of ascension will silently shape a further sun.
		.news
			- for (var i=0;i<6;i++)
				.news__el
					.news__el-title Многие программы электронной
					.news__el-text Спрос на строительство каркасных домов в последние несколько лет активно набирает обороты, это связано с потребностью ускоренного заселения в новый дом. Активный ритм современного человека и жизненные ситуации порой не позволяют медлить с заселением или отложить отдых на новой даче загородом. Дом построенный из бревна или бруса,

.section.section-price
	.main-cont
		.section-title Цены на наши услуги
		.section-title-sub Paradise of ascension will silently shape a further sun.
		.price
			.price__el
				.price__title ЭСКИЗНЫЙ ПРОЕКТ

				.price__val от
					span 200
					| руб
				.price__list
					.price__list-el  Генплан участка с привязанным домом
					.price__list-el  Фасады дома
					.price__list-el  Подробный план кровли.
					.price__list-el  Маркировочный план этажей
					.price__list-el  Планы этажей 3d
					.price__list-el  Чертеж и ведомость оконных и дверных проемов.
					.price__list-el  Цветовые решения фасадов
					.price__list-el  Характерный разрез дома со всеми высотными отметками.
					.price__list-el  3D визуализация
					.price__list-el  Архитектурное решение лестницы
					.price__list-el  Фасады дома с узлами и фрагментами.
					.price__list-el  Ведомость материалов
					.price__list-el  Консультация по выбору технологий строительства дома
				.price__get Заказать
				a(href="#arch" rel='m_PageScroll2id').price-more
					.price-more__icon
						+icon("eye","icon")
					.price-more__text Пример отчета
			.price__el
				.price__title ЭСКИЗНЫЙ ПРОЕКТ

				.price__val от
					span 200
					| руб
				.price__list
					.price__list-el Кладочный планы этажей
					.price__list-el Общие данные о проекте, строительных материалах, планировочных решениях.
					.price__list-el Схема раскладки перемычек и их спецификации.
					.price__list-el План стропильной системы с сечениями и спецификациями материалов.
					.price__list-el Схема стропильной системы крыыши  3D
					.price__list-el Узлы деревянных конструкций
					.price__list-el Сложные сечения и узлы сопряжения основных конструкций.
					.price__list-el Сечение стены по всей высоте дома.
					.price__list-el Схемы вентиляционных каналов и дымоходов.
					.price__list-el Общие данные о конструкциях дома, применяемых технологиях.
					.price__list-el Спецификация деревянных конструкций
					.price__list-el Схемы конструкций
					.price__list-el Указания по выполнению работ
					.price__list-el План фундаментов, сечения и спецификации материалов фундамента.
					.price__list-el Схема армирования фундамента
					.price__list-el Подробные проекты крылец, террас и навесов с спецификацией всех материалов.
					.price__list-el План всех перекрытий, характерные узлы и спецификации материалов перекрытия.
					.price__list-el Визуализация решений
					.price__list-el Армопояс
					.price__list-el Сечение по цоколю
					.price__list-el Ведомость деталей
					.price__list-el Специальные указания и рекомендации по возведению конструкций.
				.price__get Заказать
				a(href="#kp" rel='m_PageScroll2id').price-more
					.price-more__icon
						+icon("eye","icon")
					.price-more__text Пример отчета
include ./block_html/_script.pug
