<!DOCTYPE html>
!= "<html lang='en'>"
	//create by ANATOLY KUZNETSOV
	head
		meta(charset="UTF-8")
		meta(name='viewport' content="width=device-width, initial-scale=1")
		meta(name="format-detection" content="telephone=no")
		
		//colors-tabs
		meta(name="theme-color" content="#000")
		meta(name="msapplication-navbutton-color" content="#000")
		meta(name="apple-mobile-web-app-status-bar-style" content="#000")
		link(rel="shortcut icon" href="img/favicon.ico")
		//SEO
		title Индивидуальное Проектирование и Дизайн Домом, Квартир, Зданий.
		meta(name="description" itemprop="description" content="Проектирование и дизайн в Москве и Московской области. Компания StandArt предлагает индивидуальное проектирование по выгодным ценам от лучших специалистов.")
		
		//build:css css/vendor.css
		link(rel="stylesheet", href="bower/normalize.css/normalize.css")
		link(rel="stylesheet", href="bower/slick-carousel/slick/slick.css")
		link(rel="stylesheet", href="bower/slick-carousel/slick/slick-theme.css")
		link(rel="stylesheet", href="bower/fancybox/dist/jquery.fancybox.css")
		link(rel="stylesheet", href="bower/perfect-scrollbar/css/perfect-scrollbar.css")
		//link(rel="stylesheet", href="bower/flexbox-grid-stylus/dist/flexbox-grid.min.css")
		//link(rel="stylesheet", href="bower/components-font-awesome/css/font-awesome.css")
		//link(rel="stylesheet", href="bower/owl.carousel/dist/assets/owl.carousel.css")
		//endbuild


		link(rel="stylesheet", href="css/style.css") 
		link(rel="stylesheet", href="css/style-edit.css")
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900")

	include _const.pug
	include _mixin.pug
	!= "<body>"
